html {
  text-align: center;
  font-family: Helvetica;
}

.hero {
  background-image: url(/Users/Code/Desktop/Projects/Broadway/resources/Images/the-flatiron-building.png);
  color: white;
}

h1 {
  font-size: 70px;
}

.btn-nav {
  color: white;
  font-size: 18px;
}

.supporting h2 {
  font-size: 32px;
}

h3 {
  font-size: 23px;
}

h1, h2, h3 {
  font-weight: bold;
}

.supporting-item p {
  font-size: 14px;
}



.design {
  background-image: url(/Users/Code/Desktop/Projects/Broadway/resources/Images/the-flatiron-building.png);
  font-size: 23px;
  font-weight: bold;
  color: white;
}

.footer {
  background-color: dimgray;
  text-align: left;
  font-size: 11px;
  color: white;
}

div {
  display: block;
}
